body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background-image: url(wallpapersden.com_line-light-background_2560x1600.jpg);
  padding: 10px;
  height: 80vh;
}

.burger{
  width: 65px;
  height: 65px;
}

.bigcent{
 font-size: 60px;
 text-align: center;
 margin: 100px;

}

.smallcent{
  font-size: 40px;
  text-align: center;
  padding-left: 20px;
}

.mediumcent{
  font-size: 50px;
  text-align: center;
  margin: 75px;
}


.mediumvän{
  font-size: 35px;
  margin: 20px;
  display: block;
}

.mediumhög{
  font-size: 35px;
  margin: 20px;
  display: block;
}

.bildmid{
  height: 250px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}

.bildvän{
  height: 200px;
  width: 200px;
  margin: 20px;
}

.bildhög{
  height: 200px;
  width: 200px;
  margin: 20px;
}

.texthög{
  font-size: 20px;
  float: right;
}

.textvän{
  font-size: 20px;
  margin: 20px;
  float: left;
}

.textmid{
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  border: 1px solid black;
}

.menu{
  background-color: rgb(190, 190, 190);
  height: 40vh;
  max-width: 300px;
  border: 1px solid black;

}

.menytext{
  font-size: 25px;
  color: black;
}

#toggle{
position: absolute;
}
